html,body {
    font-family: 'Marcellus SC', serif;
    background-image: url(http://getwallpapers.com/wallpaper/full/f/b/d/646393.jpg);
     background-position: center;
    background-size: cover;
    background-attachment: fixed;
    background-repeat: no-repeat;
    color: rgb(0, 134, 179);
}

#whole {
    left: 25%;
    top: 0%;
    text-align: center;        
    color: rgb(0, 77, 102);
    background-color: rgba(255, 255, 255, 0.7);
    justify-content: space-between;
    margin:0;
    margin-top: 0px;
    margin-right: 18%;
    margin-left: 18%;
    padding-top: 25px;
    padding-bottom: 25px;
    
    
}
#header {
    background-color: rgba(0, 153, 204, 0.7);
    color:white;
    margin-right: 25%;
    margin-left: 25%;
     border-style: solid;
     border-color: white;
     padding: 5px;
}
.button {
    -webkit-transition-duration: 0.4s; /* Safari */
    transition-duration: 0.4s;
    cursor: pointer;
}
#weatherButton {
    background-color: rgba(0, 153, 204, 0.7);
    border-style: solid;
    border-color: rgba(0, 153, 204, 0.7);
    color: white;
    border-radius: 3px;
    font-family: 'Marcellus SC', serif;
    
    
}
#weatherButton:hover {
    background-color: white; 
    color: rgba(0, 153, 204, 0.7);
    font-family: 'Marcellus SC', serif;
}
#searchButton {
     background-color: rgba(0, 153, 204, 0.7);
    border-style: solid;
    border-color: rgba(0, 153, 204, 0.7);
    color: white;
    border-radius: 3px;
    font-family: 'Marcellus SC', serif;
}
#searchButton:hover {
     background-color: white; 
    color: rgba(0, 153, 204, 0.7);
    font-family: 'Marcellus SC', serif;
}

ul {
    list-style-type: none;
}

#stack {
    background-color: rgba(0, 153, 204, 0.7);
    color:white;
    margin-right: 30%;
    margin-left: 30%;
     border-style: solid;
     border-color: white;
}

#results {
     background-color: rgba(0, 153, 204, 0.7);
    color:white;
    margin-right: 43%;
    margin-left: 43%;
     border-style: solid;
     border-color: white;
     padding: 2px;
}